/* CSS Document */

/*body{ margin:0; padding:0; font-size:14px; color:#666; font-family: "Microsoft YaHei","微软雅黑","sans-serif";}
*{list-style: outside none none; margin: 0;padding: 0;}
input,img{border-style: none;vertical-align: middle;}
.fl{ float:left;}
.fr{float:right;}*/
body{font-size: 12px;}
.banner-right{width:300px; float:right; background:url(../images/banner/js-opreate.png); height:30px; margin-top:49px;}
.banner-right .right-ctx-box{ width:280px; height:30px;float:right;}
.banner-right .right-ctx-box div{float:left;width:90px; height:30px; color:#fff; line-height:30px; cursor:pointer;}
.banner-right .right-ctx-box div.update-inf{ background:url(../images/banner/btn-edit.png) no-repeat;}
.banner-right .right-ctx-box div.logout{ background:url(../images/banner/btn-close.png) no-repeat;}
.banner-right .right-ctx-box div.update-pass{ background:url(../images/banner/btn-pass.png) no-repeat;}
.nowtime{color:white; height:30px; line-height:30px; margin-top:49px; float:right; margin-right:10px; font-size:14px;}

/*内页标题颜色*/
.tabs-header{ background:#4EA5F4;}