/* CSS Document */
body{background:#1A8EFA; }
.login-top{width:100%;height:39px; background: url(../images/login/topBg.gif) repeat-x  scroll 0 0 #07c; float: left;}
.login-top .welcome{ background:url(../images/login/topleft.gif) no-repeat ; color:white; padding-left:40px; float:left;height:39px; line-height:39px;}
.back{float: right;height: 39px;line-height: 39px;padding-right: 15px;}
.back  a{color:white; text-decoration:none;}
.login-center{width:100%; float: left;}
.login-center .login-area{ background: url("../images/login/login.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height: 570px; margin: 0 auto;position: relative; width: 986px;}
.login-area .login-form{height: 270px;position: absolute;right: 180px;top: 180px;width: 370px;}
.login-tip{color: #3d96c9;font-weight: bold;height: 35px;line-height: 35px;padding-top: 15px;}
input.username,input.pwd{height: 48px;line-height: 48px;margin-top: 20px;padding-left: 43px;width: 300px;}
input.username{background:url(../images/login/username.gif) no-repeat;}
input.pwd{background:url(../images/login/pwd.gif) no-repeat;}
.btn-area{margin-top: 20px;}
.sub-btn{background: url("../images/login/btn.gif") no-repeat ;color: #fff;cursor: pointer;font: bold 15px/41px "Microsoft YaHei";height: 41px;vertical-align: middle;width: 97px;}
.verify{background: url("../images/login/login-icon.gif") no-repeat scroll left -92px #ecf5fa;border: 1px solid #bac7d2;border-radius: 3px;box-shadow: 5px 5px 5px #e7f1f7 inset;height: 38px;line-height: 38px;padding-left: 25px;width: 50px;}
.verify-img{margin-left:20px;height:30px;width:30%;}
.login-bottom{height:30px; line-height:30px;color:#ffffff; text-align:center; position:fixed; bottom:0;width:100%;}